In [232]:
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from transform import remove_html, maintain_alpha, remove_single, remove_morespace

In [233]:
pd.set_option('display.max_colwidth', 10)
pd.set_option('display.max_columns', None)

In [234]:
df_job = pd.read_csv('data/cdf_job.csv')
df_applicant = pd.read_csv('data/cdf_applicant.csv')
df_applicant_experience = pd.read_csv('data/cdf_applicant_experience.csv')

df_function_position = pd.read_csv('data/df_function_position.csv', index_col=['FunctionPositionID'])
df_job = pd.merge(df_job, df_function_position, on=['FunctionPositionID'])

df_job = df_job[['JobID', 'Description', 'JobTitle', 'Requirement', 'FunctionPositionName']]

df_applicant = df_applicant[['ApplicantID', 'Strengthness', 'Weaknesses']]
df_applicant_experience = df_applicant_experience[['ApplicantID', 'Industry', 'JobDescription', 'Position']]

df_applicant = pd.merge(df_applicant, df_applicant_experience, on=['ApplicantID'])

In [235]:
df_applicant.head(2)

   ApplicantID Strengthness Weaknesses   Industry JobDescription   Position
0          1            0            0  jasa k...  pembua...      staff ...
1          3    pekerj...    pelupa...  teleko...  mainte...      sales ...

In [236]:
df_job.set_index('JobID', inplace=True)
df_job = df_job.astype(str)

df_applicant.set_index('ApplicantID', inplace=True)
df_applicant = df_applicant.astype(str)

In [237]:
df_job = df_job.applymap(str.lower).applymap(remove_html).applymap(maintain_alpha).applymap(remove_single).applymap(remove_morespace).applymap(str.strip)
df_applicant = df_applicant.applymap(str.lower).applymap(remove_html).applymap(maintain_alpha).applymap(remove_single).applymap(remove_morespace).applymap(str.strip)

c:\Users\eats\projects\eris_job\transform.py:46: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 46 of the file c:\Users\eats\projects\eris_job\transform.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  return BeautifulSoup(text).get_text()
c:\Users\eats\miniconda3\envs\p1\lib\site-packages\bs4\__init__.py:435: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  warnings.warn(

In [238]:
df_applicant.head(3)

           Strengthness Weaknesses   Industry JobDescription   Position
Applica...
1                                   jasa k...  pembua...      staff ...
3           pekerj...    pelupa...  teleko...  mainte...      sales ...
10          konsis...    terlal...  event ...  bertug...      market...

In [181]:
df_job['JobID'] = df_job.index
df_job['Text'] = df_job.Description + df_job.JobTitle + df_job.Requirement + df_job.FunctionPositionName
df_job.drop(columns=['Description', 'JobTitle', 'Requirement', 'FunctionPositionName'], inplace=True)

df_applicant['ApplicantID'] = df_applicant.index
df_applicant['History'] = df_applicant.Strengthness + df_applicant.Weaknesses + df_applicant.Industry + df_applicant.JobDescription + df_applicant.Position
df_applicant.drop(columns=['Strengthness', 'Weaknesses', 'Industry', 'JobDescription', 'Position'])

            ApplicantID    History
Applica...
1                   1    jasa k...
3                   3    pekerj...
10                 10    konsis...
13                 13    swotsw...
18                 18    pemeri...
...               ...          ...
44921           44921    furnit...
44922           44922    pt har...
44925           44925    keuang...
44928           44928    indust...
44929           44929    pt evo...

[5427 rows x 2 columns]

In [182]:
df_applicant.drop(columns=['ApplicantID'], inplace=True)

In [183]:
df_job.drop(columns=['JobID'], inplace=True)

In [184]:
from sklearn.cluster import KMeans
import re

In [185]:
df_job.Text = df_job.Text.apply(lambda x: re.sub('yang|tahun|membuat|di|dengan|dan|kepada|secara|at|and|to|in|become|untuk|di|years|as|for|be|with|of|the|in|memiliki|mimal|jawab|sur|all|reled|let|or|au|melakukan|mengerjakan|pada|shootg|apliki|admistri|hil|gunakan|ngkel|targetnyamelakukan|samamemiliki|prospektifmengembangkan|lebih|networkg|marketg|able', '', x))

In [186]:
tfidf_vectorizer = TfidfVectorizer()

job_tfidf = tfidf_vectorizer.fit_transform((df_job.Text))
user_tfidf = tfidf_vectorizer.transform(df_applicant.History)

kmeans = KMeans(random_state=42)
kmeans.fit(job_tfidf)

clusters = kmeans.labels_

c:\Users\eats\miniconda3\envs\p1\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [208]:
from sklearn.metrics.pairwise import linear_kernel

In [210]:
cosine_sim = linear_kernel(job_tfidf, job_tfidf)

In [212]:
original = pd.read_csv('data/cdf_job.csv')

In [219]:
original.head(2)

,JobID,Description,EducationLevelID,FunctionPositionID,JobStatus,JobTitle,Requirement,SalaryMax,SalaryMin,HiredQuota,DepartmentID,CityID,CompanyID,ProvinceID,SkipTest,MajorID,DbName,UsiaMax,UsingGlasses,IQMin,IsSpecificEducationLevel,DriverLicenseType,IsSpesificDriverLicense,Gender,IsSpecificAge,IsSpecificGender,IsSpecificIQ,IsSpecificMarital,MaritalStatus,AdsStatisticID
0,1,under ...,4,1,Close,night ...,with y...,3600000,3300000,1,1,1,7,1,True,1,WarnaW...,0.0,False,0,False,0,False,0,False,False,False,False,0,0
1,2,becomi...,2,2,Close,book k...,bachel...,4250000,3500000,1,2,1,7,1,True,2,WarnaW...,0.0,False,0,False,0,False,0,False,False,False,False,0,0

In [221]:
indices

JobTitle
night audit                     0
book keeper                     1
it android programmer           2
sekretaris legal                3
sekretaris direksi              4
                             ...
general manager hotel         921
marketing staff               922
manager finance accounting    923
general affair ga             924
social media officer          925
Length: 926, dtype: int64

In [214]:
indices = pd.Series(original.index, index=original['JobTitle']).drop_duplicates()

In [225]:
def get_recommendations_cb(title, cosine_sim=cosine_sim):
    index = indices.str.contains(title)
    sim_scores = list(enumerate(cosine_sim[index]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    print(movie_indices)
    return original['JobTitle'].iloc[movie_indices]

In [187]:
df = pd.DataFrame(job_tfidf.todense()).groupby(clusters).mean()

In [188]:
terms = tfidf_vectorizer.get_feature_names_out()

In [189]:
for i,r in df.iterrows():
    print('cluster', i)
    print(','.join([terms[t] for t in np.argsort(r)[-100:]]))

cluster 0
kegian,pelaksanaan,apartment,memrikan,manager,penagihan,hubungan,charge,legusia,fance,tempo,juh,setiap,voice,utility,calon,rtanggung,keluhan,barang,out,program,menjalankan,pertanggung,penawaranadm,big,setelah,segala,perubahan,meetg,menyusun,dokumen,kerja,peralan,la,star,sebagai,sewa,gunawangsa,perusahaan,jadwal,keselaman,chief,lapan,relion,property,faktur,dap,membantu,sesuai,pengalaman,jurusan,unit,koni,target,maksimal,dari,gedung,akuntansi,accountg,baik,staff,proses,bank,penkan,admistri,karyawan,memonir,ada,pekerjaan,skill,serta,khusus,sipl,penempan,kecil,engeerg,pajak,komunikif,iented,penyewa,isiif,keuangan,tugkan,prosedur,leg,presention,tanggung,detail,jujur,mempunyai,oleh,penghuni,lanya,departemen,memtikan,mimal,menyiapkan,pembayaran,tenant,semua
cluster 1
jurusanpengalaman,maksimal,la,membantu,mengkonikan,management,pengadaan,target,keuangan,menarik,tug,mengenai,penunjang,persiapan,mampu,kebutuhan,et,menyur,jurusan,reksiusia,manager,mengevalui,eksternal,time,sekretaris,penguran,vend,pengalaman,tggi,mengawi,mengkomunikikan,filit,penkan,memonir,lapan,kid,yaitu,rapi,proses,tk,recruitment,pimpan,user,terview,tetapkan,serta,kerjamelaksanakan,pimpanmelaksanakan,pengarsipanmelaksanakan,notulensi,admistrif,mea,baikmampu,multitkg,end,pihak,hubungan,tggisekretaris,pengelolaan,mengendalikan,sopan,komunikifmampu,deadlepekerja,tenant,ptal,dalam,tahan,etika,job,kebijakan,pemeliharaan,menyusun,merencanakan,seluruh,pameran,segala,rencana,tekanan,agenda,ker,sipl,perbaikan,isiif,rkala,pelaksanaan,budget,rap,bahan,kelancaran,jadwal,terhadap,operional,melaksanakan,mimal,reksi,gedung,kegian,kerja,event,perusahaan
cluster 2
telekomunikaismenangani,serta,dalam,stwareusia,miriit,ientedrsea,penyeaan,isiif,shiftpenempan,kesiapan,mpun,jujur,pemaran,wifi,shiftservice,mikarpengalaman,lanyamampu,perusahaanmerancang,sim,stwaremenjal,menawarkan,targetmarketg,lupengalaman,lan,keterseaan,komunikif,stwareit,rkaitan,layanan,pendukungnya,wan,teknologi,stregi,mengevalui,kendaraan,pekerjaan,telekomuniki,server,smk,engeerg,komputer,mika,utamakanpenempan,staffusia,me,shift,kerusakan,lift,ac,la,sukaipenempan,electrical,gensetengeerg,stalion,pc,peripheral,hle,baik,sebagai,senri,rtanggung,sistem,dllmarketg,matenance,mi,big,rsea,apliki,lu,teknik,rencana,mencari,calon,stware,executive,semua,abayamarketg,negosii,apartment,tergetnya,pengalaman,merealisikan,frtruktur,penkan,maksimal,para,harga,penjualan,jargan,hardware,jurusan,kerja,shootg,penawaran,trouble,utamakan,marketg,netwkg,mimal,klien
cluster 3
mewah,oprionalpriapenkan,smk,membaca,abaya,nyadriverusia,sebagai,mapspenempan,abayadriver,rapimenguai,sederajpengalaman,mewahrpenampilan,mimal,la,dari,kerja,general,ke,mpun,loki,iklan,warna,pihak,mampu,tanggung,kamera,apliki,barang,pt,space,area,persiapan,sepeda,warni,aktifrsea,sederajmaksimal,oleh,priba,mengambil,meapelapan,tiap,harianvey,lapangriver,driver,supirpenkan,smkmampu,apria,pusdriver,tujudriver,usia,timur,selan,rdomisili,pus,bar,mapsrsea,lemburutamakan,smartphoneterbia,prokol,manualmengetahui,pengurusannyamengantar,nyamengmikan,waze,alphard,mic,menja,akan,kepeerluan,seperti,perlu,rpengalaman,mempersiapkan,jika,juh,tempo,sntk,lakukan,luar,meng,daerah,an,tanggal,kanrmengajukan,luarmemeriksa,melapkannya,google,keperluan,sma,hil,mor,vey,tamu,kanr,jakarta,perbaikan,kendaraan,mengendarai,sim,perawan,mobil
cluster 4
manager,driver,supervis,presecost,merrcost,accountgbachel,wker,licenseswillg,cost,presemarketg,month,tentmale,traee,it,banquet,front,food,communicion,same,favh,favfresh,staffbachel,mics,technicianh,applyit,segmentfemaleexperience,goverment,systemprefer,manyarsales,teamfront,havg,departmenth,merrfront,teamexecutive,housekeepgmaleexperience,merr,control,power,teamroom,merrhousekeepg,consideredh,presesales,staff,me,merrit,is,verages,leadership,merrst,degree,pro,departmenthavg,programwill,skillgood,merrsales,leader,keeper,abilityh,lookgexperience,teamsales,agent,tent,sales,psione,chief,yearprefer,system,accountg,loyalh,st,titude,comg,yearh,experiences,desk,loyalwillg,abaya,are,titudepsione,under,titudewillg,mimum,rounng,domicile,dustry,vhp,year,hospitality,executive,team,housekeepg,wk,player,good,key,dynamic,experience,gunawangsa,personality,hotel
cluster 5
suu,setiap,mengikuti,somipengalaman,tempkan,rtanggung,tugkan,seg,menangani,faks,clerical,terb,tetapi,focopy,rsig,ce,menyusun,perusahaanmampu,pembangunan,pertanahan,pera,hadapi,kemampuan,bawah,analisa,proyek,big,mensuppt,melaksanakan,pkpa,acara,memahami,mereview,penkan,sukai,project,sipl,terhadap,bisnis,lulusan,racara,penipuan,sengketa,bank,sukaiusia,tekananlegal,maksimal,bhs,persyaran,vidusiap,monirg,pembuan,teg,li,mengelolah,mana,dalam,tim,staffpenkan,presi,under,jual,perikan,advok,th,baik,menarikpenempan,presepenampilan,persigan,mimal,mpun,menguai,sejenisnyiap,peruran,pia,khususnya,review,umum,kus,opion,pengalaman,sejenisnyalegal,sertifik,abayalegal,khusus,kerja,mampu,rhubungan,contract,dokumen,ung,perusahaan,konsep,perda,keksi,kontrak,kerjama,perjanjian,legal,hukum
cluster 6
claim,tention,files,accommodion,matag,typg,bookg,pussekretaris,transpt,details,secretarian,ganizg,conferences,prive,compilg,schedulg,crespondence,mutes,mters,arrangg,rept,event,admistrion,confidential,repts,daily,skills,phone,prepare,response,central,project,travel,market,product,by,possess,bisnis,specialized,department,perm,which,meetg,executive,duties,develop,ke,strong,manage,any,al,lookg,gpa,appearance,human,needs,excellence,such,equivalent,permg,development,company,mimum,cide,posses,tractive,fluent,both,old,age,management,sciple,self,busess,required,on,placed,english,willg,ft,skill,written,marketg,good,bachel,cusmer,provide,terpersonal,must,or,degree,new,jakarta,reled,let,communicion,experience,sales,wk,field
cluster 7
rkoni,merial,isiif,memtikan,meng,memrsihkan,melamar,mea,pajak,komunikif,programmer,bantu,tim,terhadap,teliti,gaji,ku,video,area,konstruksi,jurusan,dap,menja,la,konsep,segala,proses,hal,system,ga,affair,komputer,fice,ke,dari,gambar,perempuan,pembayaran,kebutuhan,posisi,hil,it,fresh,rk,mengenai,negosii,rab,jujur,gradue,al,apliki,dokumen,ms,ide,kreif,mampu,transaksi,team,microst,barang,semua,sistem,baru,perhitungan,setidaknya,akuntansi,max,pekerjaan,pengetahuan,accountg,menguai,sama,sebagai,terkait,rtanggung,baik,komuniki,bawah,desa,design,analisa,teknik,karyawan,usia,perusahaan,bisa,big,laki,keuangan,admistri,penkan,maksimal,sesuai,da,lapan,pengalaman,kemampuan,dalam,mimal,kerja

In [190]:
kmeans.predict(user_tfidf[0, :])

array([7])

In [191]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import surprise
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import train_test_split
from surprise import Reader, Dataset
from surprise import KNNBasic

In [192]:
df_applicant['ApplicantID'] = df_applicant.index

In [193]:
df_pipeline = pd.read_csv('data/cdf_pipeline.csv')
df_stage = pd.read_csv('data/cdf_stage.csv')

df_stage = pd.merge(df_pipeline, df_stage, on=['StageID'])

In [194]:
df_stage = df_stage[['ApplicantID', 'StageID']]

In [195]:
df_applicant.index.names = ['Index']

In [197]:
df_applicant = pd.merge(df_applicant, df_stage, on=['ApplicantID'])

In [199]:
df_applicant = df_applicant[['History', 'ApplicantID', 'StageID']]

In [200]:
reader = Reader()
data = Dataset.load_from_df(df_applicant, reader)

# Train & Test
trainset, testset = train_test_split(data, test_size=0.20, random_state=50)

In [202]:
algo_svd = SVD()
prediction_mf = algo_svd.fit(trainset).test(testset)

In [206]:
recom_svd = algo_svd.predict(uid='data warehouse', iid='AWMjT0WguC1rwyj_rFh3')
recom_svd

Prediction(uid='data warehouse', iid='AWMjT0WguC1rwyj_rFh3', r_ui=None, est=5, details={'was_impossible': False})

In [245]:
df_applicant.head(2)

           Strengthness Weaknesses   Industry JobDescription   Position
Applica...
1                                   jasa k...  pembua...      staff ...
3           pekerj...    pelupa...  teleko...  mainte...      sales ...

In [296]:
tes = df_job.JobTitle

In [307]:
for i in tes:
    print(i)

night audit
internal audit staff
staff
internal audit
test
manager marketing
staff hrd
tenant relation
admin support business development
leasing apartemen
marketing staff
admin support research development
leasing apartment
test data hilang
test job
finance accounting
finance accounting
book keeper
book keeper accounting department
it android programmer
it support
it android programmer
admin it
it android programmer
it android programmer
network dan it security specialist
android programmer
android programmer
sekretaris legal
sekretaris legal
sekretaris legal pajak ijin
sekretaris direksi
executive secretary
senior sekretaris
sekretaris direksi
sekretaris
sekretaris lokasi
sekretaris lokasi
senior sekretaris
sekretaris direksi
sekretaris lokasi
sekretaris
sekretaris direksi
sekretaris
sekretaris
sekretaris direksi
sekretaris
sekretaris
sekretaris direksi
sekretaris direksi
sekretaris direksi
sekretaris
sekretaris
sekretaris direksi
sekretaris direksi
sekretaris direksi
sekretaris direksi
marketing executive
account executive marketing
senior marketing
marketing communication for mall
marketing executive
marketing
marketing bali
marketing staff
account executive marketing
marketing communication
marketing executive
marketing communication
manager business development
manager marketing
marketing property staff
marketing karaoke entertainment centre
marketing bali
marketing surabaya
marketing surabaya
marketing software
marketing bali
marketing executive
senior marketing property
marketing executive
marketing ci
marketing bali
account executive
marketing executive
marketing executive
account executive
marketing bali
marketing manager
marketing manager
marketing property
marketing supervisor
marketing leasing
marketing apps
marketing property
marketing leasing
staff marketing
marketing freelance
account executive
account executive
staf marketing
staff marketing support
account officer
marketing property
account officer
account executive
marketing supervisor
staf marketing
manager marketing
account officer
account executive
marketing property
marketing supervisor
account executive account officer
marketing supervisor
sales executive
supervisor marketing
manager marketing
staff marketing
staf marketing
account executive account officer
marketing staff
senior estimator
estimator
web programmer
web programmer
programmer staff
web programmer
it staff
programmer staff
ios developer
website developer
web programmer
web programmer
ios developer
front end web programmer
web programmer
front end web programmer
it programmer
web programmer
driver
driver
surveyor
surveyor general operation
driver
surveyor general operation
surveyor general operation
surveyor general oprational
surveyor general oprational
driver
surveyor general oprational
driver
driver
surveyor general oprational
surveyor general operational
driver
surveyor general operational
driver
surveyor
driver puri
diver
driver puri
diver
driver wwm jakarta
driver
driver
driver
driver
driver
driver
driver
driver
driver
surveyor general operational
driver
driver
driver
driver
driver
driver
driver
driver
driver
project officer
project officer
project officer
landscape gardener officer
project officer
admin project officer sipil
pajak ijin
project officer
project officer
project officer
project officer
project officer
project officer
project officer
project officer
project officer
project officer
project officer
hrd staff
hrd
hrd senior
hrd staff
hrd staff
hrd staff
spv hrd
spv hrd
hrd staff
hrd staff
human resources hr manager
human resources hr manager
hrd staff
hrd
spv hrd
hrd manager
hrd staff
hrd payroll staff
recruitment staff
human resources internship
manager hr ga
hrd payrol staf
human resources internship
supervisor hrd
staff hrd
manager hr ga
manager hr ga
senior hrd
staff hrd
staff hrd
staff hrd
hrd staff
staff hrd
staff hrd
hrd
manager hr ga
senior hrd
hrd
senior hrd
hr od
senior hrd
manager hrd
account officer
manager account officer
tenant relation mall
admin leasing
account officer
admin leasing
account officer
admin leasing
account officer
admin leasing
staff marketing support
admin marketing
admin marketing
admin marketing
account officer
marketing support staff
marketing property
marcomm mall
marketing property
maintenance electician
staf operasional kelistrikan
chief engineering
engineering staff
chief engineering
engineering staff
spv bm me
teknisi karaoke
supervisor me mechanical electrical
chief engineering
junior mep
engineering staff
engineering staff
engineering staff
chief engineering
engineering
chief engineering
engineering staff
engineering staff
chief engineering
ptk maintenance las
engineering staff
staff bm me
ptk maintenance las cover
admin engineering
ptk maintanence las cover
teknisi maintenance bali
engineering staff
engineering staff
admin engineering
engineering staff
engineering staff
staff bm me
engineering staff
engineering staff
chief engineering
chief engineering
chief engineering
engineering staff
spv bm me
staff bm me
teknisi me maintenance
sales execuitve
engineering staff
engineering staff
engineering staff
mechanical electrik staff
engineering staff
engineering staff
asst chief engineering
admin engineering
engineering staff
mechanical electric staff
engineering apprentice
teknisi
engineering staff
engineering staff
teknisi
engineering staff
staff engineering
engineering staff
staff engineering
staff engineering
tek
chief engineering
admin engineering
engineering mall
asst chief engineering
engineering staff
legal staff
legal supervisor
legal litigasi
legal kontrak
legal staff
legal staff
perijinan dan humas
legal kontrak
legal staff
legal staff
legal staff
legal staff
legal humas
legal leasing mall
legal
legal manager
legal staff
legal staff
legal staff
legal humas
legal staff
legal staff
legal staff
legal supervisor
legal humas
humas staff
legal staff
legal staff
legal staff
staff legal
staff legal
legal supervisor
legal staff
legal staff
senior staff legal litigasi
legal staff
staff legal kontrak
legal staff
supervisor legal
staff legal
supervisor legal
admin legal
staff legal kontrak
staff legal kontrak
legal staff
staff legal
admin legal
staff legal
staff legal
staff legal
legal staff
legal staff
supervisor legal
legal staff
staff legal
staff legal
legal staff
admin legal
supervisor legal
legal staff
legal staff
legal staff
staff legal
legal staff
legal staff
admin legal
legal staff
legal staff
manager legal
staff legal
legal staff
legal staff
supervisor legal
staff legal litigasi
legal staff
admin it
it support
it network staff
it staff
it network staff
admin it
spv it
it staff
tim led
it staff
tim led
it staff
programmer staff
it support jakarta
it support
it support
senior it
senior it
tim led it
programmer staff
it support
it officer
supervisor it
it staff
staff it
network dan it security specialist
it support
ios developer
staff it
staff it led
staff it
it staff
staff it
supervisor it
it officer
it staff
staff it
data warehouse specialist
it support
it support
ios developer
it artificial intelligence
it support
chief ga
admin general affair
staff ga
general affair building
chief ga
chief ga
admin general affair
chief ga
general affair
admin ga
admin engineering ga
chief ga
staff ga vehicle
staff ga inventory
staff ga
supervisor ga
staff umum makassar
staff ga
staff umum medan
tim led listrik
staff ga
receptionist
tim led
chief ga
cleaning service
staff general affair
kurir ob
admin ga
cleaning service
cleaning service
cleaning service
staff general affair
general affair ga
staff general affair
kurir
staff general affair
supervisor general affair
staff ga
satff general affair
senior staff general affair
supervisor general affair
general affair ga
tenant relation
asst building manager
gym manager
building manager
building manager
building manager
building manager
operational manager
tenant relation
building manager mall
general manager mall
building manager
general manager mall
building manager
building manager
cook resto
cook
sous chef
kitchen
barista resto
waiter waitress resto
waitress
kasir foodcourt
waitress
server
kasir foodcourt
kasir foodcourt
accounting auditor senior
sekretaris accounting
senior accounting
accounting
accounting
senior accounting
accounting
supervisor pajak
chief accounting
spv accounting
income account receivable
sekretaris accounting
accounting staff
sekretaris accounting
accounting staff
asst chief accounting
accounting staff
admin accounting
accounting staff
accounting staff
supervisor accounting
spv accounting
kasir akunting
admin leasing
accounting staff
staf admin
staff accounting
staff accounting pajak
accounting staff
supervisor accounting
supervisor pajak
finance accounting supervisor
design graphic
design graphic
graphic design hotel
creative design
design graphic
design grafis
design graphic
desain visualisasi lokasi
graphic design
graphic design
desain visualisasi lokasi
social media officer
desain visualisasi
design staff
creative design
design staff
design staff
desain grafis
creative design
graphic design internship
graphic design
staff desain
design staff
staff desain
creative design
design staff
graphic design
admin design
video animator
english teacher
english teacher
english teacher
english teacher
teacher
guru daycare
guru bahasa mandarin laoshi
receptionist
receptionist
customer service
receptionist
customer service mall
receptionist
receptionist
receptionist
receptionist
cashier
receptionist
staff research development
staff
staff
perencana proyek
perencana proyek
interior designer
perencana proyek
site manager
perencana proyek
perencana proyek
perencana proyek
executive housekeeping
executive housekeeping
asst executive housekeeping
finance accounting
collection cashier staff
asisstant manager finance accounting
internal auditor
finance collection
manager finance
senior finance collection
finance
manager finance accounting
finance accounting
finance collection
collection staff
account receivable income audit
finance accounting
finance
finance accounting
manager finance accounting
staff accounting pajak
asisten manager finance accounting
finance collection
supervisor finance
accounting staff
staff collection
supervisor collection
chief accounting
staff finance
staff finance
supervisor finance
staff finance
finance staff
supervisor accounting
supervisor finance collection
supervisor finance collection
staff finance collection
chief accounting
finance staff
staff finance ar
chief accounting
asisten manager finance accounting
chief accounting
staff finance ar
finance staff
financial planner
asisten manager finance accounting
finance collection
finance staff
auditor staf
chief finance accounting
staff tax
auditor staff
senior accounting
manager finance accounting
marketing communication
staf humas
marketing communication for mall
commerce
marketing communication
marketing software
marketing communication
marcomm
marketing communication
spv marcomm desing
marcomm mall
marcomm staff
spv marcomm bus development
digital marketing specialist
marcomm internship
social media officer
supervisor marcomm
social media officer
marketing communication marcomm
marcomm mall
social media officer
marcomm mall
social media officer
marcomm mall
marcomm mall
marketing communication marcomm
food and beverages manager
karaoke and entertainment centre manager
fb manager
foodcourt manager
foodcourt manager
chief accounting
chief accounting
sales executive
sales executive
sales executive
sales executive goverment segment
leasing mall
director of sales hotel
sales executive
sales executive
leasing mall
marketing karaoke entertainment centre
sales executive goverment segment
leasing mall
marketing leasing mall
marketing karaoke
sales executive
leasing mall foodcourt
marketing leasing mall
marketing software
leasing foodcourt
sales executive hotel gunawangsa merr
sales executive gunawangsa hotel merr
marketing property
purchasing staff
admin gudang
purchase staff
purchase staff
purchasing staff
supervisor purchasing
supervisor purchasing
supervisor purchasing
purchasing staff
supervisor purchasing
purchasing staff
staff admin
administrasi pajak ijin
administrasi bali
perijinan staff
administrasi maintenance
admin leasing
admin workshop puri
administrasi marketing
staff maintenance go
general admin
admin engineering ga
admin foto
administrasi pajak ijin
administrasi
admin it
general admin
admin traffic
admin foto produksi
general admin
sosial media
admin teknik
admin project
general admin
sosial media
staff admin
staff admin workshop puri
staff admin gudang workshop puri
staff maintenance
pajak ijin
staff tax permit
translator staff
administrasi engineering
admin project officer
staff admin gudang ws puri
staff traffic
staff tax permit
staff tax permit
staff traffic
staff admin
operational staff
administrasi
admin maintenance
administrasi
staff traffic
admin perizinan
administrasi
admin gudang
staff traffic
manager operational
karaoke and entertainment centre manager
general manager hotel
manager operational
general manager hotel
asst food beverage
accounting staff
kasir
accounting staff
general cashier
accounting staff
cashier accounting
cashier accounting staff
chasier
staff finance accounting
kasir
penjaga stand
capt
capt
waitress fb cashier
banquet attendant
staff outlet
waitress
waitress
staff accounting
general cashier
it staff
it staff
technical support
it support
it support
it staff
it support
it support
it support
staff it
it support
sales marketing manager
marketing manager
marketing manager
admin support business development
admin support business development
franchise business development manager
staff
staff research development
admin support business development
staff research development
asst manager leasing mall
business development senior spv
social media officer
cost control accounting department
admin teknik
cost control
sekretaris direksi
sekretaris direksi
sekretaris
sekretaris direksi
sekretaris
sekretaris
sekretaris
sekretaris
sekretaris legal
sekretaris direksi
sekretaris
sekretaris
sekretaris direksi
sekretaris
sekretaris
sekretaris
sekretaris accounting
fitout
staff arsitek
arsitek
fitout mall
fitout ga mall
interior design
interior design
supervisor floor karaoke
store supervisor resto
store supervisor resto
cleaning service puri
cleaning service
cleaning service
cleaning service
celeaning service
cleaning service
cleaning service
driver
service advidor teknisi
cleaning service
tenant relation
resident relation
resident relation
tenant relation
tenant relation
tenant relation
front desk agent
front desk agent dw
front desk agent
front desk agent fda
front desk agent
front desk agent fda
front desk agent fda
cook
chef de partie cdp
kitchen staff gunawangsa hotel merr
cook
staff outlet boba
staff outlet
staff outlet
staff outlet
staff outlet
staff outlet
cleaning service
staff outlet
manager outlet
public area attendant
koordinator maintenance
tukang listrik
supervisor lapangan
staff umum makassar
ptk maintenance las cover
maintenance las
tukang listrik
admin general operational
qc lapangan
building manager
graphic design marketing communication
staff desain
graphic design staff
senior staff hrd
supervisor hrga
marketing it
marketing software
social media manager
marketing software
marketing software
marketing software
marketing software
marketing software
marketing software
marketing software
housekeeping supervisor
housekeeping ordertaker
housekeeping room attendant
estimator
pengawas lapangan
surveyor lapangan
chief accounting

In [316]:
df_job.JobTitle.value_counts()

legal staff              35
driver                   27
engineering staff        26
sekretaris               18
sekretaris direksi       17
                         ..
sous chef                 1
kitchen                   1
internal audit staff      1
waiter waitress resto     1
surveyor lapangan         1
Name: JobTitle, Length: 372, dtype: int64

In [313]:
tfidf = TfidfVectorizer()
matrix = tfidf.fit_transform(tes.drop_duplicates().values)

pairwise_similarity = matrix * matrix.T

arr = pairwise_similarity.toarray()
np.fill_diagonal(arr, 0)

input_doc = 'estimator'

input_idx = list(tes.values).index(input_doc)

result_idx = np.nanargmax(arr[input_idx])

list(tes.values)[result_idx]

'night audit'

In [303]:
arr

array([[       nan, 0.44131453, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.44131453,        nan, 0.2546966 , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.2546966 ,        nan, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ...,        nan, 0.50447859,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.50447859,        nan,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
               nan]])

Empty DataFrame
Columns: [Description, JobTitle, Requirement, FunctionPositionName]
Index: []