In [77]:
import pandas as pd

In [78]:
df_applicant_document = pd.read_csv('data/df_applicant_document.csv')
df_applicant_document.drop(columns=['Unnamed: 0'], inplace=True)
df_applicant_document.DocumentName = df_applicant_document.DocumentName.map(str.lower)

In [79]:
df_applicant_document.head(3)

   ApplicantID              DocumentName
0            3  cv fernando martin lukas
1            4          curriculum vitae
2            8          curriculum vitae

In [80]:
df_applicant_document['DocumentCount'] = 1
df_applicant_document = df_applicant_document[['ApplicantID', 'DocumentCount']].groupby(['ApplicantID']).sum()

In [83]:
df_applicant_document.tail(3)

             DocumentCount
ApplicantID
44925                    2
44928                    2
44929                    2

In [84]:
df_applicant_document.to_csv('data/cdf_applicant_document.csv')