In [1]:
import pandas as pd

In [4]:
df_pipeline = pd.read_csv('data/df_pipeline.csv', index_col=['PipelineID'])
df_pipeline.drop(columns=['Unnamed: 0'], inplace=True)

In [16]:
df_pipeline = df_pipeline[(df_pipeline.StageID == 10) | (df_pipeline.StageID == 11)]

In [25]:
df_pipeline[(df_pipeline.StageID == 11) & (df_pipeline.duplicated())]

            ApplicantID  JobID  StageID
PipelineID
3071               9713    124       11
6974              16582   1182       11
11821             27333   1344       11
12278             27125   1370       11
23679             44114   2953       11

In [32]:
df_pipeline[(df_pipeline.StageID == 11) & (df_pipeline.duplicated(keep='last'))]

            ApplicantID  JobID  StageID
PipelineID
3070               9713    124       11
6973              16582   1182       11
11820             27333   1344       11
12277             27125   1370       11
23678             44114   2953       11

In [28]:
df_pipeline[df_pipeline[['ApplicantID', 'JobID']].duplicated()]

            ApplicantID  JobID  StageID
PipelineID
29                   72      5       10
140                 391     21       10
781                2117     65       10
802                 775     64       10
805                2183     66       10
...                 ...    ...      ...
24036             44343   2968       10
24155             44289   2995       10
24349             44528   3000       10
24731             44790   3070       10
24753             44801   3048       10

[129 rows x 3 columns]