In [1]:
import pandas as pd

In [3]:
df_applicant_certificate = pd.read_csv('data/df_applicant_certificate.csv')
df_applicant_certificate.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
df_applicant_certificate.head(3)

   ApplicantID                                        Description
0            3  Klub basket Atmajaya termasuk yang paling seri...
1           22      TALK SHOW " MAU NGAPAIN SIH SETELAH LULUS S1"
2           22                               ANALISIS SOSIAL AIDS

In [12]:
df_applicant_certificate['CertificateCount'] = 1
df_applicant_certificate = df_applicant_certificate[['ApplicantID', 'CertificateCount']].groupby(['ApplicantID']).sum()

In [19]:
df_applicant_certificate.to_csv('data/cdf_applicant_certificate.csv')